@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: aqua;
}

hr {
	border: 1px solid black;
}
